<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Snippet Testing

        link(rel="stylesheet", href="main.css")
    body
        //- .pentagon-loader
        //-     .top-bars
        //-     .side-bars

        //- input.range-input(type="range")

        //- h1.text-3d Sample Text

        //- .future-loader
        //-     .square

        .triangle-loader